In [22]:
# #Project Structure

#The hands on project on Processing Data with Python is divided into following tasks:
# Task 1: Create a Pandas DataFrame    
# Task 2: Read Data from Files    
# Task 3: Cleaning Data    
# Task 4: Data Analysis    
# Task 5: Data Subset

SyntaxError: invalid syntax (Temp/ipykernel_19000/3111308621.py, line 1)

In [1]:
import pandas as pd

In [2]:
## Create a key-value collection of series to use 
data = {"Month":pd.Series(['January','February','March','April','May','June','July','August','September','October','November','December']),
       "Rainfall":pd.Series([1.65,1.25,1.94,2.75,2.75,3.65,5.05,1.50,1.33,0.07,0.05,2.30]),}

In [3]:
## Create a DataFrame using the static data 
df = pd.DataFrame(data)
print("Our data frame:")
print(df,"\n")

Our data frame:
        Month  Rainfall
0     January      1.65
1    February      1.25
2       March      1.94
3       April      2.75
4         May      2.75
5        June      3.65
6        July      5.05
7      August      1.50
8   September      1.33
9     October      0.07
10   November      0.05
11   December      2.30

In [4]:
## Create a DataFrame usin CSV File
dfc=pd.read_csv('Rain.csv')
print("Our data frame:")
print(dfc,"\n")

Our data frame:
        Month  Rainfall  Temperature
0     January      1.65           10
1    February      1.25           12
2       March      1.94           10
3       April      2.75           24
4         May      2.75           30
5        June      3.65           25
6        July      5.05           21
7      August      1.50           22
8   September      1.33           28
9     October      0.07           20
10   November      0.05           19
11   December      2.30           20

In [5]:
## Create a DataFrame usin JSON File
df=pd.read_json('Data.json')
print("Our data frame:")
print(df,"\n")

Our data frame:
        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
9     October       NaN          NaN
10   November     0.500         32.0
11   December     2.300          2.3

In [6]:
## Fil in the missing values with zeros
dfzeros = df.fillna(0)
print("Our data frame:")
print(dfzeros,"\n")

# The fillna() method replaces the NULL values with a specified value

Our data frame:
        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
9     October     0.000          0.0
10   November     0.500         32.0
11   December     2.300          2.3

In [7]:
##remove rows with the missing values 
dfclean = df.dropna()
print("Our data frame:")
print(dfclean,"\n")

#The dropna() method removes the rows that contains NULL values

Our data frame:
        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
10   November     0.500         32.0
11   December     2.300          2.3

In [8]:
#Create a count of all rows contains Nans
df=pd.read_json('Data.json')

count = 0
for index,row in df.iterrows():
    if any(row.isnull()):
        count=count+1
print("\n Number of rows with Nans: "+str(count))

 Number of rows with Nans: 1

In [9]:
#DATA ANALYSIS

In [11]:
#Mean
print("Mean:")
print(dfclean.mean())
#Median
print("\n Median:")
print(dfclean.median())
#Standard deviation 
print("\n Median:")
print(dfclean.std())

Mean:
Rainfall        2.235000
Temperature    17.754545
dtype: float64

 Median:
Rainfall        1.94
Temperature    20.00
dtype: float64

 Median:
Rainfall        1.413936
Temperature    12.193553
dtype: float64

C:\Users\PC\AppData\Local\Temp/ipykernel_19000/863923048.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(dfclean.mean())
C:\Users\PC\AppData\Local\Temp/ipykernel_19000/863923048.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(dfclean.median())
C:\Users\PC\AppData\Local\Temp/ipykernel_19000/863923048.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(dfclean.std())

In [15]:
#Selecting part of a Dataframe
df

        Month  Rainfall  Temperature
0     January     1.650          3.0
1    February     1.250         10.0
2       March     1.940         15.0
3       April     2.750         20.0
4         May     2.750         25.0
5        June     3.645         24.0
6        July     5.500         30.0
7      August     1.000          1.0
8   September     1.300         33.0
9     October       NaN          NaN
10   November     0.500         32.0
11   December     2.300          2.3

In [20]:
#Print  the rainfall and the main for first few months 
dfrainfall = dfclean["Rainfall"][0:3]
print("Rainfall \n",dfrainfall)
print("rainfall Mean \n",dfrainfall.mean())

Rainfall
 0    1.65
1    1.25
2    1.94
Name: Rainfall, dtype: float64
rainfall Mean
 1.6133333333333333

In [21]:
#Print  the rainfall/Temperature and the main for first few months 
dftemprain = dfclean[["Rainfall","Temperature" ]][0:3]
print("Rainfall and Temperature \n",dftemprain)
print("rainfall  and Temperature Mean \n",dftemprain.mean())

Rainfall and Temperature
    Rainfall  Temperature
0      1.65          3.0
1      1.25         10.0
2      1.94         15.0
rainfall  and Temperature Mean
 Rainfall       1.613333
Temperature    9.333333
dtype: float64